@model ECommerce.DTOs.Product.ProductCreateDTO

@{
    ViewBag.Title = "Create Product";
}

<h2>Add Product</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, ViewBag.CategoryList as SelectList, "-- Select Category --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.TextBoxFor(m => m.CategoryId, new { @class = "form-control" }) <!-- Later: Replace with dropdown -->
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

}
